
.App {
  background: #DBCDAF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  z-index: 0;
}

form {
  margin: 10vh auto 0 auto;
  text-align: center;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
 }

button {
  align-self: flex-start;
  background: #86D4DE;
  font-size: 120%;
  color: #683E08;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 15px 38px rgba(0,0,0,0.30), 0 11px 12px rgba(0,0,0,0.22);
}

.input-and-auto {
  display: flex;
  align-items: flex-start;
  overflow-y: visible;
  flex-direction: column;
  background-color: white;
  color: #683E08;
  border-radius: 10px;
  font-size: 150%;
  border: none;
  width: 55vmin;
  text-align: center;
  margin-right: 1vmin;
  margin-top: 1vmin;
  box-shadow: 0 15px 38px rgba(0,0,0,0.30), 0 11px 12px rgba(0,0,0,0.22);
}

input{
  background-color: white;
  color: #683E08;
  border-radius: 10px;
  font-size: 140%;
  border: none;
  width: 100%;
  text-align: center;
  padding: 0;
}

input:focus, button:focus{
  outline: none;
}

button:active {
  background-color: #639ba3;
  width: 2.9rem;
  height: 2.9rem;
}

.autocomplete-dropdown-container {
  width: 100%
}

.suggestion-item {
  font-size: 90%;
  text-align: center;
  width: 100%;
  border-top: 1px solid #683E08;
}

.suggestion-item--active {
  font-size: 100%;
  text-align: center;
  width: 100%;
  background-color: #86D4DE;
}


header {
  height: 10vh;
  font-size: 1.5rem;
}

.title {
  color: #683E08;
  margin: 0;
  height: 10vh;
  text-align: center;
  font-weight: 800;
}

p {
  margin: 0;
}

.all-results {
  font-weight: bold;
  margin: 10vmin auto 0 auto;
}

.result-container {
  margin: auto;
  width: 100vmin;
  display: flex;
  justify-content: space-around;
}

.best-container {
  margin: 10vmin auto 0 auto;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.drive-results {
  color: #683E08;
  font-size: 100%;
  text-align: center;
  background: #86D4DE;
  padding: 3%;
  border-radius: 10px;
}

.walk-results {
  color: #683E08;
  font-size: 100%;
  text-align: center;
  background: #86D4DE;
  border-radius: 10px;
  padding: 3%;
}

.best-route {
  color: #683E08;
  font-size: 100%;
  text-align: center;
  background: #86D4DE;
  border-radius: 10px;
  padding: 3%;
}

h2 {
  color: #683E08;
  font-size: 120%;
  margin: 0;
  text-align: center;
}
