
.App {
  background: #DBCDAF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
}

form {
  position: fixed;
  margin: 10vh auto 0 auto;
  text-align: center;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
 }

button {
  background: #86D4DE;
  font-size: 1.5rem;
  color: #683E08;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 15px 38px rgba(0,0,0,0.30), 0 11px 12px rgba(0,0,0,0.22);
}

input, .autocomplete-dropdown-container {
  background-color: white;
  color: #683E08;
  border-radius: 10px;
  border: none;
  width: 55vw;
  font-size: 7vw;
  text-align: center;
  margin-right: 1vw;
}

.autocomplete-dropdown-container {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  width: 55.2vw;
}

input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

input:focus {
  outline: none;
}

.suggestion-item {
  font-size: 3vw;
  text-align: center;
  width: 55vw;
}

.suggestion-item--active {
  font-size: 3vw;
  text-align: center;
  width: 55vw;
  background-color: #86D4DE;
}


header {
  height: 10vh;
  font-size: 1.5rem;
}

.title {
  color: #683E08;
  margin: 0;
  height: 10vh;
  text-align: center;
  font-weight: 800;
}

p {
  margin: 0;
}

.all-results {
  margin: 20vh auto 0 auto;
  font-weight: bold;
}

.result-container {
  margin: auto;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.best-container {
  margin: 10vh auto 0 auto;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.drive-results {
  color: #683E08;
  font-size: 4vw;
  text-align: center;
  background: #86D4DE;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.walk-results {
  color: #683E08;
  font-size: 4vw;
  text-align: center;
  background: #86D4DE;
  border-radius: 10px;
  padding: 1%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.best-route {
  color: #683E08;
  font-size: 4vw;
  text-align: center;
  background: #86D4DE;
  border-radius: 10px;
  padding: 1%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

h2 {
  color: #683E08;
  font-size: 6vw;
  margin: 0;
  text-align: center;
}
